<link rel='stylesheet' href='/stylesheets/style.css' />

<table>
    <tr>
        <% Object.keys(struct[0]).forEach(function(key) { %>
            <th><%= key %></th>
        <%})%>
    </tr>



        <% for (var i =0; i < struct.length;  i++ ) { %>

    <tr>
        <% Object.values(struct[i]).forEach(function(val) { %>
            <td><%= val %></td>
        <%})%>


    </tr>
    <%}%>






</table>


<form id=" search" method="post">
    <label for="search"></label>
    <input type="text" id="search" name="search" placeholder="SEARCH">
    <br>
    <input type="submit" value="search">
</form>


<table class="data">
    <tr>
        <% Object.keys(rowData[0]).forEach(function(key) { %>
            <th><%= key %></th>
        <%})%>
        <th> </th>
    </tr>



        <% for (var i =0; i < rowData.length;  i++ ) { %>

    <tr id=<%=pri%>>
        <% Object.values(rowData[i]).forEach(function(val) { %>
            <td><%= val %></td>
        <%})%>
    <td><a href='edit/<%=pri[i]%>' >EDIT</a> <a href='del/<%=pri[i]%>' >DEL</a> </td>

    </tr>
    <%}%>






</table>

<div class="pages"><a href=<%=prev%>>prev</a> <%=page%> <a href=<%=next%>>next</a></div>
<a href="new/add"><button> New Entry</button></a>